:root {
    --fundo-imagem: url("imagens/comoperder.jpg"); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--fundo-imagem);
    transition: background-image 2s;
    background-size: cover;
}

input{
    padding: 8px 12px;
    font-size: 24px;
}

button{
    padding: 8px 12px;
    font-size: 24px;
    cursor: pointer;
    background-color: pink;
    border: white;
    color: white;
}